@charset "utf-8";
/*CSS Document*/

#formsarea{
	margin-left:100px;
	padding:20px;
	border:none;
	}
	
#dataarea{
	float:left;
	width:500px;
	margin:0px 20px;
	padding:20px;
	border:2px dotted #FF0000;
	}
	
#receivingarea{
	width:500px;
	height:350px;
	margin:50px 700px;
	padding:20px;
	border:2px dotted #0000FF;
	}
